.footer
{
    background : #0D1D58;
    color: white;
    display: flex;
    justify-content: space-between;
}

.color-orange
{
    color: #FA9C44;
}

.fontstyle-bold
{
    font-weight: bold;
}

.margin-25
{
    margin-bottom: .25%;
}

.padding-5
{
    padding: 1% 8% 1% 8%;
}