.footer
{
    background : #0D1D58;
    color: white;
    display: flex;
    justify-content: space-between;
}

.color-orange
{
    color: #FA9C44;
}

.fontstyle-bold
{
    font-weight: bold;
}

.margin-25
{
    margin-bottom: .25%;
}

.padding-5
{
    padding: 1% 8% 1% 8%;
}

.top-nav-bar
{
    padding : 1%;
    background : #0D1D58;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10px;
    position: top;
    top : 0;
}

a{
    text-decoration: none;
    color : white;
    padding : 20px;
}
